@import '../../vars.scss';

ul {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  padding: 2rem;
  gap: 1rem;
  padding-block-end: 2rem;
  margin: 0;
  font-family: $kelly-slab-font;
  p {
    font-size: large;
  }
}

@media (min-width: 400px) {
  ul {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    padding-inline: 5rem;
  }
}
