@import '../../vars.scss';

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 2rem;
  .image-container {
    min-height: 295px;
    display: flex;
    flex-direction: column;
    img {
      max-height: 291px;
    }
  }
  .info-container {
    width: 280px;
    h2 {
      font-family: $kavoon-font;
      text-align: center;
    }
    .p-container {
      p {
        font-family: $kelly-slab-font;
        text-align: center;
        span {
          font-family: $kavoon-font;
        }
      }
    }
    .crud-container {
      padding-block-start: 1rem;
      display: flex;
      justify-content: space-between;
    }
    .ud-container {
      gap: 1rem;
    }
  }
}

@media (width > 380px) {
  .details-container {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    .info-container {
      h2 {
        text-align: left;
      }
      .p-container {
        p {
          text-align: left;
        }
      }
    }
  }
}
