@import '../../vars.scss';
footer {
  font-family: $kavoon-font;
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $footer-background-color;
    padding-block: 0.5rem;
  }
  .footer-text {
    color: white;
  }
}

@media (min-width: 400px) {
  footer {
    .footer-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      background: $footer-background-color;
      padding-block: 0.5rem;
    }
    .footer-text {
      color: white;
    }
  }
}
