$mainpage-background-color: #feb81c;
$header-background-color: #fdfcc6;
$body-background-color: #99d5cb;
$footer-background-color: #01957d;
$button-color: #f15e2d;
$footer-card-color: #ffe744;
$footer-button-color: #027e63;
$kavoon-font: 'Kavoon', serif;
$kelly-slab-font: 'Kelly Slab', sans-serif;
